*{
  margin: 0 auto;
  padding: 0 auto;
}
body{
  margin:0px;
  padding:0px;
  font-size: 14px;
  color:black;
}

header{
  width: 100%;height: 380px;
  margin:0 auto;
  position: relative;
  margin-top: 80px;
}
#logo{
  display : block;
  margin: auto;
  padding-top: 30px;
 
}
#logo>img{
    width:250px;
    display : block;
    margin: auto;
    margin-top: -30px;
}
#login-header{
    font-size:25px;
    color:#734D32;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
form {
    width: 500px;
    height: 480px;
    background-color: #FFF2DC;
    border-style:solid;
    border-color: #734D32;
    border-radius:25px;
    text-align: center;
    padding: 20px;
    margin-top: -200px;
}
.login{
    font-size: 45px;
    color: #734D32;
    font-weight:1000;
    padding-bottom: 20px;
}
input{
    width: 350px;
    height:60px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 90px;
    border-color: #734D32;
    margin: 18px;
    margin-top: 17px;
    font-size: 20px;
}
form>img{
    width: 45px;
    margin-left: 20px;
    margin-top: 10px;
}
#btn {
    background-color: #FF9E00;
    color: white;
    font-size: 25px;
    width:200px;
    height: 60px;
    border-radius: 90px;
    border :none;
    text-align: center;
    padding-top: -20px;
    line-height: 15px;
    margin-top:30px;
}

form>h1{
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}
form>h1>a{
  text-decoration: none;
  color: #734D32;
}
ul{
  text-align: center;
  margin-top: 30px;
  margin-left: -40px;
}
ul>a{
  text-decoration:none;
  color: #734D32;
  font-size: 20px;
 
}