@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
  }
  @font-face {
    font-family: 'nanumL';
    src: url('font/NanumSquareRoundL.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'nanumR';
    src: url('font/NanumSquareRoundR.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'nanumB';
    src: url('font/NanumSquareRoundB.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'nanumEB';
    src: url('font/NanumSquareRoundEB.ttf');
    font-weight: normal;
    font-style: normal;
  }
  /* 나눔 스퀘어 라운드
  Light(300)
  Regular(400)
  Bold(700)
  Extra Bold(800) */
  
  *{
    margin: 0 auto;
    padding: 0 auto;
  }
  body{
    margin:0px;
    padding:0px;
    text-align: center;
    font-family: 'NanumSquareRound';
    font-size: 14px;
    color:black;
    /* overflow-y: hidden; */
  }
  img{
    border: 0px;
  }
  #wrap {
      margin: 0 auto;
      width: 100%;
  }
  /* 헤더 */
  header{
    width: 100%;height: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    padding-top: 30px;
    position: fixed;
    z-index: 9999;
    top: 0;
  }
  header > #logo > a > img{
    float: left;
    margin: 0px 0 0 130px;
  }
  
  header > #nav{
    width: 1045px; height: 85px;
    margin-left: 430px;
    background-color: #fff;
    border-radius: 70px;
    box-shadow: 0px 0px 3px 2px rgba(183, 139, 108, 0.2);
    position: fixed;
  }
  header > #nav > ul{
    width: 925px; height: 85px;
    list-style-type: none;
  }
  header > #nav > ul > li{
    float: left;
    margin-left: 90px;
    line-height: 90px;
  }
  header > #nav > ul > li:first-child{
    margin: 0;
  }
  header > #nav > ul > li > a{
    padding-bottom: 20px;
    font-size: 25px;
    letter-spacing: -1px;
    display: block;
    color: #734D32;
    font-family: 'nanumEB';
    transform : rotate(0.04deg); 
    text-decoration: none;
  }
  header > #nav > ul > li > a:hover{
    color: #FF9E00;
    -webkit-text-stroke: #FF9E00 0.2px;
  }
  header > #nav > ul > li:hover > #mega-menu{
    display: block;
  }
  #mega-menu{
    width: 1045px; height: 200px;
    background-color: white;
    position: absolute;
    top: 110px; left: 0px;
    display: none;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 3px 2px rgba(183, 139, 108, 0.2);
    border-radius: 30px;
    z-index: 9999;
  }
  .list_lnb{
    padding: 0;
    margin: 25px 3px 0px 28px;
    list-style: none;
    float: left;
    line-height: 50px;
    width: 15%;height: inherit;
  }
  .list_lnb:first-child{
    margin-left: 50px;
  }
  .list_lnb:nth-child(4){
    margin-left: 55px;
  }
  .list_lnb:last-child{
    margin-left: 45px;
    text-align: center;
  }
  .list_lnb > li > a{
    font-size: 18px;
    font-family: 'nanumB';
    letter-spacing: -1px;
    transform : rotate(0.04deg); 
    color: #734D32;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  .list_lnb > li > a:hover{
    color: #FF9E00;
  }
  #icon{
    position: relative;
    right: 180px;
    top: 16px;
}
  #icon > ul{
    width: 260px; height: 65px;
    list-style-type: none;
    color: #734D32;
    line-height: 100px;
    position: relative;
    clear:both;
    top: -88px; right: -110px;
    box-shadow: 0px 0px 3px 2px rgba(183, 139, 108, 0.2);
    float: right;
    border-radius: 20px;
}
#icon > ul > li:first-child{
    padding-top: 9px;
	padding-left:-5px;
}
#icon > ul > li{
    float: left;
    margin-left: 13px;
    line-height: 70px;
}
#icon > ul > li > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #734D32;
}
#icon > ul > li > a:hover{
    color: #FF9E00;
}
#icon > ul > li > p{
    color: #734D32;
    font-size: 20px;
    font-weight: 800;
}
header > hr{
    position: absolute;
    width: 1614px;
    height: 0px;
    left: calc(50% - 1614px/2);
    top: 150px;
    border: 3px solid rgba(212, 171, 141, 0.3);
}

/* 검색창 */
#wm-bg {
    width: 100%; height: auto;
    padding-top: 120px;
  }
  #wm-bg > hr {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1614px;
    height: 1.5px;
    background-color: #734D32;
    border: 0;
  }
  .wm-hd {
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding-top: 40px;
  }
  .hd {
    width: 200px;
    height: 100px;
    text-align: center;
  }
  .hd > h2 {
    font-weight:bolder;
    font-size: 20px;
    color: #B78B6C;
  }
  .hd > h1 {
    font-weight:bolder;
    font-size: 40px;
    letter-spacing: -1.5px;
    color: #734D32;
  }
  .hd > hr {
    width: 140px;
    height: 6px;
    border: 0;
    border-radius: 10px;
    float: left;
    margin-left: 32px;
    margin-top: 3px;
    background-color: #FF9E00;
  }
  #search {
    width: 700px;
    height: 100px;
    margin-top: 5px;
  }
  #sc {
    width: 680px;
    height: 68px;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 70px;
    border-radius: 50px;
    padding-left: 30px;
    border: 2px solid #B78B6C;
    outline: #B78B6C;
    font-size: 20px;
    color: #734D32;
    background-color: #FFF2DC;
    font-family: 'NanumSquareRound';
    letter-spacing: -1px;
    
  }
  input[type="submit"] {
    display: none;
  }
  .sc-btn {
    width: 35px; height: 35px;
    border: 0;
    float:right;
    position: relative;
    bottom: 50px;
    right: 35px;
    cursor: pointer;
  }
  .allbtn {
    width: 130px;height: 30px;
    float: left;
    margin: 40px 0px 0px 250px;
  }
  .allbtn > a{
    text-decoration: none;
  }
  .allbtn > a > img{
    float: left;
    padding-left: 20px;
  }
  .allbtn > a > p{
    font-size: 20px;
    color: #734D32;
    -webkit-text-stroke: 0.5px #734D32;
    text-decoration: none;
    font-family: 'NanumSquareRound';
    line-height: 22px;
  }
  .allbtn > a > p:hover{
    -webkit-text-stroke: 1px #734D32;
  }
  .newbtn{
    width: 130px;height: 30px;
    float: right;
    margin: -50px 280px 0px 0px;
  }
  .newbtn > a{
    text-decoration: none;
    line-height: 1px;
  }
  .newbtn > a > p{
    font-size: 20px;
    margin-right: 5px;
    color: #734D32;
    -webkit-text-stroke: 0.5px #734D32;
    text-decoration: none;
    font-family: 'NanumSquareRound';
  }
  .newbtn > a > p:hover{
    -webkit-text-stroke: 1px #734D32;
  }
  .newbtn > img{
    float: right;
    margin-top: -10px;
  }

/* footer */
#footer{
    width: 100%; height: 280px;
    background-color: #734D32;
  }
  #footer > ul{
    list-style-type: none;
  }
  #footer > ul > #info{
    float: left;
    margin-left: 100px;
    margin-top: 80px;
  }
  #footer > ul > #info > ul{
    list-style-type: none;
    text-align: left;
  }
  #footer > ul > #info > ul > li{
    color: #fff;
    font-size: 18px;
  }
  #footer > ul > #footer_logo{
    float: right;
    margin-right: 200px;
    margin-top: 100px;
  }
  #footer > ul > #footer_logo > ul{
    list-style-type: none;
    text-align: right;
  }
  #footer > ul > #footer_logo > ul > li{
    color: #fff;
    font-size: 18px;
  }
#footer > ul > #info > ul > li > a{
    color: #fff;
    text-decoration: none;
}